trigger: none
pool: HLD
variables:
  workdir: '$(System.DefaultWorkingDirectory)/HLD/dev/frountend'
stages:
  - stage: 
    jobs:
      - job: 
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(workdir)'
            backendServiceArm: 'HLD'
            backendAzureRmStorageAccountName: 'hld12345terraformpipe1'
            backendAzureRmContainerName: 'hld-container'
            backendAzureRmKey: 'dev.terraform.tfvars'
  - stage: 
    jobs:
      - job: 
        steps:
        - task: CmdLine@2
          continueOnError: true
          inputs:
            script: 'tflint.exe --chdir=. --recursive'
            workingDirectory: '$(workdir)'
  